GOOGLE_GENAI_USE_VERTEXAI=1
GOOGLE_CLOUD_PROJECT=
GOOGLE_CLOUD_LOCATION=
GOOGLE_CLOUD_STORAGE_BUCKET=
RAG_AGENT_LLM_MODEL=
DEFAULT_EMBEDDING_MODEL=
DEFAULT_CHUNK_SIZE=
DEFAULT_CHUNK_OVERLAP=
DEFAULT_TOP_K=
DEFAULT_DISTANCE_THRESHOLD=
GOOGLE_API_KEY=
OPENAI_API_KEY=
